/Print_First_10_Multiple_Of_5.class
/Add_Multiples_And_Give_Sum.class
/Descending_Order_Assignement.class
/Radius_Area.class
/Table_Programme.class
/Calculator.class
/Months_Output_Programme.class
/Student_marks.class
/Square.class
/Hollow_Square.class
/Star_Arrow.class
/Star_Arrow_Downwards.class
/Pattern_Programming1.class
/Sum_Prime_Numbers.class
/Multiplication_Table.class
/Factorial.class
/Exponent_Program.class
/Reversed_Numbers.class
/Even_Odd_Sum.class
